.art1{
    background-image: url("https://static01.nyt.com/images/2017/08/11/arts/11VanGogh3/11VanGogh3-jumbo.jpg?quality=90&auto=webp");
    background-size:cover,cover;
    background-repeat: no-repeat;

    font-style: normal;
    font-family: sans-serif ;
    height: 300vh;
    

    


}